.root {
  user-select: none;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
}

.head {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headOpened {
  composes: head;
  border-bottom: 1px solid var(--color-gray);
}

.headClosed {
  composes: head;
}

.body {
  padding: 1rem;
}

.icon {
  margin-left: 1rem;
}

.iconClosed {
  composes: icon;
}

.iconOpened {
  composes: icon;
  transform: rotate(180deg);
}
