.root {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  display: block;
  cursor: pointer;
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.root:disabled,
.root[disabled] {
  opacity: 0.2;
}
