.list {
  margin-top: 0.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageContainer {
  width: 100px;
  height: 100px;
  padding: 0.5rem;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 0.2rem;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.removeImageButton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-gray);
}
