.root {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.body {
  padding: 1rem;
}

.description {
  margin-top: 1rem;
}

.addToCartButton {
  width: 100%;
  margin-top: 1rem;
}

.editProductLink {
  margin-top: 1rem;
  color: var(--color-blue);
  display: block;
}
