.container {
  max-width: var(--container-s-max-width);
  margin: 0 auto;
  padding: var(--container-padding);
}

.title {
  text-align: center;
}

.form {
  margin: 2rem auto 0;
}

.linkToSignInPage {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto 0;
  text-align: center;
  color: var(--color-blue);
}

.preloader {
  margin: 2rem auto 0;
}

.signUpAgainButton {
  margin-top: 1rem;
}

.signUpAgainButton {
  margin-top: 2rem;
  width: 100%;
}

.error {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: var(--color-red);
}
