.title {
  text-align: center;
}

.form {
  margin: 15px auto 0;
}

.error {
  color: red;
}

.linkToSignInPage {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 15px auto 0;
  text-align: center;
}
