.root {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.title {
  margin-right: 1rem;
}

.head {
  border: 1px solid gray;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headClosed {
  composes: head;
}

.headOpened {
  composes: head;
  pointer-events: none;
}

.optionsList {
  list-style: none;
  border: 1px solid gray;
  padding: 0.2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.optionsListClosed {
  composes: optionsList;
  display: none;
}

.optionsListOpened {
  composes: optionsList;
}

.checkbox {
  margin-right: 0.5rem;
  cursor: pointer;
}

.openOptionsListIcon {
}

.openOptionsListIconClosed {
  composes: openOptionsListIcon;
}

.openOptionsListIconOpened {
  composes: openOptionsListIcon;
  transform: rotate(180deg);
}

.option {
  padding: 0.2rem;
}
