.root {
  display: flex;
}

.amountInput {
  width: 48px;
  height: 48px;
  padding: 0.375rem 0 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.button {
  margin-left: 1rem;
  border: none;
  color: #212529;
  border: 1px solid #212529;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button:disabled,
.button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

.message {
  display: block;
  margin-top: 0.5rem;
}

.success {
  composes: message;
  color: var(--color-green);
}

.error {
  composes: message;
  color: var(--color-red);
}
