.root {
  max-width: var(--container-m-max-width);
  padding: var(--container-padding);
  margin: 0 auto;
  width: 100%;
}

.title {
  text-align: center;
}

.form {
  margin: 2rem auto 0;
  max-width: 500px;
}

.responseMessage {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.error {
  composes: responseMessage;
  color: var(--color-red);
}

.success {
  composes: responseMessage;
  color: var(--color-green);
}
