.root {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.searchParams {
  display: flex;
  list-style: none;
}

.selectSearchParam:not(:first-child) {
  margin-left: 1rem;
}

.searchInput {
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  height: 2rem;
  transition: border ease-in-out 0.2s;
  padding: 0.5rem;
}

.searchInput:focus {
  border: 1px solid var(--color-primary);
  outline: none;
}

@media (max-width: 600px) {
  .root {
    display: block;
    height: auto;
  }

  .searchInput {
    width: 100%;
    margin-top: 1rem;
  }
}
