.root {
  position: relative;
}

.searchInput {
  width: 100%;
  margin-bottom: 1rem;
}

.searchParams {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.searchParam:not(:first-child) {
  margin-left: 0.5rem;
}
