* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html,
body,
#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --container-s-max-width: 600px;
  --container-m-max-width: 1000px;
  --container-padding: 2rem 1rem 0;

  --color-primary: #563d7c;
  --color-secondary: #301934;
}
