.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

.title {
  text-align: center;
}

.form {
  margin: 2rem auto 0;
}

.linkToSignInPage {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 15px auto 0;
  text-align: center;
  color: #0d6efd;
}

.preloader {
  margin: 2rem auto 0;
}

.signInAgainButton {
  margin-top: 1rem;
}

.error {
  margin-top: 2rem;
  text-align: center;
  color: #dc3545;
}
